.container{
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}
.completed{
  text-decoration: line-through;
  color: grey;
}
h1{
  text-transform: uppercase;
  color: white;
  margin: 0;
  background-color: #2980b9;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: normal;
}
.fa-plus{
  float: right;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}
li:nth-child(2n){
  background-color: #f7f7f7;
}
.container{
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}
.completed{
  text-decoration: line-through;
  color: grey;
}
h1{
  text-transform: uppercase;
  color: white;
  margin: 0;
  background-color: #2980b9;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: normal;
}
.fa-plus{
  float: right;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}
li:nth-child(2n){
  background-color: #f7f7f7;
}
span{
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}
li:hover span{
  width: 40px;
  opacity: 1.0;
}
input{
  background-color: #f7f7f7;
  font-size: 18px;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
}
input:focus{
  background-color: #fff;
  border: 3px solid #2980b9;
  outline: none;

}
body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #c9ffbf; /* fallback for old browsers */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer{
  text-align: center;
  font-size: 18px;
  margin-top: 46vh;
}